<div class="header">
  <img src="assets/images/icon.png" alt="FK13" class="icon">
</div>
<div class="splitter"></div>
<div class="body">
  <div class="artists">
    Titre d'artiste :
    <div class="artists-select">
      <select [(ngModel)]="selectedArtist">
        <option value="" selected>Tous</option>
        <option *ngFor="let name of artistNames" [value]="name">{{ name }}</option>
      </select>
    </div>
  </div>
  <calendar [artist]="selectedArtist" (dateSelected)="onDateSelected($event)"></calendar>
  <div class="events">
    <div class="event" *ngFor="let event of eventsOnSelectedDate">
      <div class="event-date">
        <span class="event-day">{{ event.date | date: 'dd' }}</span>
        <span class="event-month">{{ event.date | date: 'MMM' }}</span>
      </div>
      <div class="event-details">
        <h3>{{ event.eventName }}</h3>
        <p>{{ event.clientName }}</p>
        <p class="event-artist">Artiste : {{ event.artists }}</p>
      </div>
    </div>
  </div>

  <!--button *ngIf="!(authService.user$)" (click)="authService.login()">Login</button>
  <button *ngIf="authService.user$" (click)="authService.logout()">Logout</button-->
</div>
